<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <form action="/checkout" method="POST"
    <p>
      <label>item: <input type="text"> id="item" name="item"</label>
    </p>
    </form>
</body>
</html>
